@using GrpcBrowser.Store.Services
@using static System.Reflection.BindingFlags

<style>
    .types {
        font-family: monospace;
        font-size: 14px;
        font-weight: bold;
        padding-left: 10px;
    }
</style>

<div class="d-flex flex-row">
    <div>Request Type:</div>
    <div class="types">@Operation.RequestType</div>
</div>
<div class="d-flex flex-row">
    <div>Response Type:</div>
    <div class="types">@Operation.ResponseType</div>
</div>

@code
{
    [Parameter] public GrpcOperation Operation { get; set; }
}
