@using GrpcBrowser.Store.Services
@using static System.Reflection.BindingFlags

<style>
    .types {
        font-family: monospace;
        font-size: 14px;
        font-weight: bold;
        padding-left: 10px;
    }
</style>

<div class="d-flex flex-row">
    <div class="mt-1">Request Type:</div>
    <TypeCommentTree Type="@Operation.RequestType" RecursionLevelsRemaining="1" />
</div>
<div class="d-flex flex-row">
    <div class="mt-1">Response Type:</div>
    <TypeCommentTree Type="@Operation.ResponseType" RecursionLevelsRemaining="1" />
</div>

@code
{
    [Parameter] public GrpcOperation Operation { get; set; }
}
